# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
local.db/base/1/112
local.db/base/1/113
local.db/base/1/174
local.db/base/1/175
local.db/base/1/548
local.db/base/1/549
local.db/base/1/826
local.db/base/1/827
local.db/base/1/828
local.db/base/1/1247
local.db/base/1/1247_fsm
local.db/base/1/1247_vm
local.db/base/1/1249
local.db/base/1/1249_fsm
local.db/base/1/1249_vm
local.db/base/1/1255
local.db/base/1/1255_fsm
local.db/base/1/1255_vm
local.db/base/1/1259
local.db/base/1/1259_fsm
local.db/base/1/1259_vm
local.db/base/1/1417
local.db/base/1/1418
local.db/base/1/2187
local.db/base/1/2224
local.db/base/1/2228
local.db/base/1/2328
local.db/base/1/2336
local.db/base/1/2337
local.db/base/1/2579
local.db/base/1/2600
local.db/base/1/2600_fsm
local.db/base/1/2600_vm
local.db/base/1/2601
local.db/base/1/2601_fsm
local.db/base/1/2601_vm
local.db/base/1/2602
local.db/base/1/2602_fsm
local.db/base/1/2602_vm
local.db/base/1/2603
local.db/base/1/2603_fsm
local.db/base/1/2603_vm
local.db/base/1/2604
local.db/base/1/2605
local.db/base/1/2605_fsm
local.db/base/1/2605_vm
local.db/base/1/2606
local.db/base/1/2606_fsm
local.db/base/1/2606_vm
local.db/base/1/2607
local.db/base/1/2607_fsm
local.db/base/1/2607_vm
local.db/base/1/2608
local.db/base/1/2608_fsm
local.db/base/1/2608_vm
local.db/base/1/2609
local.db/base/1/2609_fsm
local.db/base/1/2609_vm
local.db/base/1/2610
local.db/base/1/2610_fsm
local.db/base/1/2610_vm
local.db/base/1/2611
local.db/base/1/2612
local.db/base/1/2612_fsm
local.db/base/1/2612_vm
local.db/base/1/2613
local.db/base/1/2615
local.db/base/1/2615_fsm
local.db/base/1/2615_vm
local.db/base/1/2616
local.db/base/1/2616_fsm
local.db/base/1/2616_vm
local.db/base/1/2617
local.db/base/1/2617_fsm
local.db/base/1/2617_vm
local.db/base/1/2618
local.db/base/1/2618_fsm
local.db/base/1/2618_vm
local.db/base/1/2619
local.db/base/1/2619_fsm
local.db/base/1/2619_vm
local.db/base/1/2620
local.db/base/1/2650
local.db/base/1/2651
local.db/base/1/2652
local.db/base/1/2653
local.db/base/1/2654
local.db/base/1/2655
local.db/base/1/2656
local.db/base/1/2657
local.db/base/1/2658
local.db/base/1/2659
local.db/base/1/2660
local.db/base/1/2661
local.db/base/1/2662
local.db/base/1/2663
local.db/base/1/2664
local.db/base/1/2665
local.db/base/1/2666
local.db/base/1/2667
local.db/base/1/2668
local.db/base/1/2669
local.db/base/1/2670
local.db/base/1/2673
local.db/base/1/2674
local.db/base/1/2675
local.db/base/1/2678
local.db/base/1/2679
local.db/base/1/2680
local.db/base/1/2681
local.db/base/1/2682
local.db/base/1/2683
local.db/base/1/2684
local.db/base/1/2685
local.db/base/1/2686
local.db/base/1/2687
local.db/base/1/2688
local.db/base/1/2689
local.db/base/1/2690
local.db/base/1/2691
local.db/base/1/2692
local.db/base/1/2693
local.db/base/1/2696
local.db/base/1/2699
local.db/base/1/2701
local.db/base/1/2702
local.db/base/1/2703
local.db/base/1/2704
local.db/base/1/2753
local.db/base/1/2753_fsm
local.db/base/1/2753_vm
local.db/base/1/2754
local.db/base/1/2755
local.db/base/1/2756
local.db/base/1/2757
local.db/base/1/2830
local.db/base/1/2831
local.db/base/1/2832
local.db/base/1/2833
local.db/base/1/2834
local.db/base/1/2835
local.db/base/1/2836
local.db/base/1/2836_fsm
local.db/base/1/2836_vm
local.db/base/1/2837
local.db/base/1/2838
local.db/base/1/2838_fsm
local.db/base/1/2838_vm
local.db/base/1/2839
local.db/base/1/2840
local.db/base/1/2840_fsm
local.db/base/1/2840_vm
local.db/base/1/2841
local.db/base/1/2995
local.db/base/1/2996
local.db/base/1/3079
local.db/base/1/3079_fsm
local.db/base/1/3079_vm
local.db/base/1/3080
local.db/base/1/3081
local.db/base/1/3085
local.db/base/1/3118
local.db/base/1/3119
local.db/base/1/3164
local.db/base/1/3256
local.db/base/1/3257
local.db/base/1/3258
local.db/base/1/3350
local.db/base/1/3351
local.db/base/1/3379
local.db/base/1/3380
local.db/base/1/3381
local.db/base/1/3394
local.db/base/1/3394_fsm
local.db/base/1/3394_vm
local.db/base/1/3395
local.db/base/1/3429
local.db/base/1/3430
local.db/base/1/3431
local.db/base/1/3433
local.db/base/1/3439
local.db/base/1/3440
local.db/base/1/3455
local.db/base/1/3456
local.db/base/1/3456_fsm
local.db/base/1/3456_vm
local.db/base/1/3466
local.db/base/1/3467
local.db/base/1/3468
local.db/base/1/3501
local.db/base/1/3502
local.db/base/1/3503
local.db/base/1/3534
local.db/base/1/3541
local.db/base/1/3541_fsm
local.db/base/1/3541_vm
local.db/base/1/3542
local.db/base/1/3574
local.db/base/1/3575
local.db/base/1/3576
local.db/base/1/3596
local.db/base/1/3597
local.db/base/1/3598
local.db/base/1/3599
local.db/base/1/3600
local.db/base/1/3600_fsm
local.db/base/1/3600_vm
local.db/base/1/3601
local.db/base/1/3601_fsm
local.db/base/1/3601_vm
local.db/base/1/3602
local.db/base/1/3602_fsm
local.db/base/1/3602_vm
local.db/base/1/3603
local.db/base/1/3603_fsm
local.db/base/1/3603_vm
local.db/base/1/3604
local.db/base/1/3605
local.db/base/1/3606
local.db/base/1/3607
local.db/base/1/3608
local.db/base/1/3609
local.db/base/1/3712
local.db/base/1/3764
local.db/base/1/3764_fsm
local.db/base/1/3764_vm
local.db/base/1/3766
local.db/base/1/3767
local.db/base/1/3997
local.db/base/1/4143
local.db/base/1/4144
local.db/base/1/4145
local.db/base/1/4146
local.db/base/1/4147
local.db/base/1/4148
local.db/base/1/4149
local.db/base/1/4150
local.db/base/1/4151
local.db/base/1/4152
local.db/base/1/4153
local.db/base/1/4154
local.db/base/1/4155
local.db/base/1/4156
local.db/base/1/4157
local.db/base/1/4158
local.db/base/1/4159
local.db/base/1/4160
local.db/base/1/4163
local.db/base/1/4164
local.db/base/1/4165
local.db/base/1/4166
local.db/base/1/4167
local.db/base/1/4168
local.db/base/1/4169
local.db/base/1/4170
local.db/base/1/4171
local.db/base/1/4172
local.db/base/1/4173
local.db/base/1/4174
local.db/base/1/5002
local.db/base/1/6102
local.db/base/1/6104
local.db/base/1/6106
local.db/base/1/6110
local.db/base/1/6111
local.db/base/1/6112
local.db/base/1/6113
local.db/base/1/6116
local.db/base/1/6117
local.db/base/1/6175
local.db/base/1/6176
local.db/base/1/6228
local.db/base/1/6229
local.db/base/1/6237
local.db/base/1/6238
local.db/base/1/6239
local.db/base/1/12596
local.db/base/1/12596_fsm
local.db/base/1/12596_vm
local.db/base/1/12599
local.db/base/1/12600
local.db/base/1/12601
local.db/base/1/12601_fsm
local.db/base/1/12601_vm
local.db/base/1/12604
local.db/base/1/12605
local.db/base/1/12606
local.db/base/1/12606_fsm
local.db/base/1/12606_vm
local.db/base/1/12609
local.db/base/1/12610
local.db/base/1/12611
local.db/base/1/12611_fsm
local.db/base/1/12611_vm
local.db/base/1/12614
local.db/base/1/12615
local.db/base/1/16385
local.db/base/1/16386
local.db/base/1/16390
local.db/base/1/16391
local.db/base/1/16392
local.db/base/1/16394
local.db/base/1/16395
local.db/base/1/16402
local.db/base/1/pg_filenode.map
local.db/base/1/pg_internal.init
local.db/base/1/PG_VERSION
local.db/base/4/112
local.db/base/4/113
local.db/base/4/174
local.db/base/4/175
local.db/base/4/548
local.db/base/4/549
local.db/base/4/826
local.db/base/4/827
local.db/base/4/828
local.db/base/4/1247
local.db/base/4/1247_fsm
local.db/base/4/1247_vm
local.db/base/4/1249
local.db/base/4/1249_fsm
local.db/base/4/1249_vm
local.db/base/4/1255
local.db/base/4/1255_fsm
local.db/base/4/1255_vm
local.db/base/4/1259
local.db/base/4/1259_fsm
local.db/base/4/1259_vm
local.db/base/4/1417
local.db/base/4/1418
local.db/base/4/2187
local.db/base/4/2224
local.db/base/4/2228
local.db/base/4/2328
local.db/base/4/2336
local.db/base/4/2337
local.db/base/4/2579
local.db/base/4/2600
local.db/base/4/2600_fsm
local.db/base/4/2600_vm
local.db/base/4/2601
local.db/base/4/2601_fsm
local.db/base/4/2601_vm
local.db/base/4/2602
local.db/base/4/2602_fsm
local.db/base/4/2602_vm
local.db/base/4/2603
local.db/base/4/2603_fsm
local.db/base/4/2603_vm
local.db/base/4/2604
local.db/base/4/2605
local.db/base/4/2605_fsm
local.db/base/4/2605_vm
local.db/base/4/2606
local.db/base/4/2606_fsm
local.db/base/4/2606_vm
local.db/base/4/2607
local.db/base/4/2607_fsm
local.db/base/4/2607_vm
local.db/base/4/2608
local.db/base/4/2608_fsm
local.db/base/4/2608_vm
local.db/base/4/2609
local.db/base/4/2609_fsm
local.db/base/4/2609_vm
local.db/base/4/2610
local.db/base/4/2610_fsm
local.db/base/4/2610_vm
local.db/base/4/2611
local.db/base/4/2612
local.db/base/4/2612_fsm
local.db/base/4/2612_vm
local.db/base/4/2613
local.db/base/4/2615
local.db/base/4/2615_fsm
local.db/base/4/2615_vm
local.db/base/4/2616
local.db/base/4/2616_fsm
local.db/base/4/2616_vm
local.db/base/4/2617
local.db/base/4/2617_fsm
local.db/base/4/2617_vm
local.db/base/4/2618
local.db/base/4/2618_fsm
local.db/base/4/2618_vm
local.db/base/4/2619
local.db/base/4/2619_fsm
local.db/base/4/2619_vm
local.db/base/4/2620
local.db/base/4/2650
local.db/base/4/2651
local.db/base/4/2652
local.db/base/4/2653
local.db/base/4/2654
local.db/base/4/2655
local.db/base/4/2656
local.db/base/4/2657
local.db/base/4/2658
local.db/base/4/2659
local.db/base/4/2660
local.db/base/4/2661
local.db/base/4/2662
local.db/base/4/2663
local.db/base/4/2664
local.db/base/4/2665
local.db/base/4/2666
local.db/base/4/2667
local.db/base/4/2668
local.db/base/4/2669
local.db/base/4/2670
local.db/base/4/2673
local.db/base/4/2674
local.db/base/4/2675
local.db/base/4/2678
local.db/base/4/2679
local.db/base/4/2680
local.db/base/4/2681
local.db/base/4/2682
local.db/base/4/2683
local.db/base/4/2684
local.db/base/4/2685
local.db/base/4/2686
local.db/base/4/2687
local.db/base/4/2688
local.db/base/4/2689
local.db/base/4/2690
local.db/base/4/2691
local.db/base/4/2692
local.db/base/4/2693
local.db/base/4/2696
local.db/base/4/2699
local.db/base/4/2701
local.db/base/4/2702
local.db/base/4/2703
local.db/base/4/2704
local.db/base/4/2753
local.db/base/4/2753_fsm
local.db/base/4/2753_vm
local.db/base/4/2754
local.db/base/4/2755
local.db/base/4/2756
local.db/base/4/2757
local.db/base/4/2830
local.db/base/4/2831
local.db/base/4/2832
local.db/base/4/2833
local.db/base/4/2834
local.db/base/4/2835
local.db/base/4/2836
local.db/base/4/2836_fsm
local.db/base/4/2836_vm
local.db/base/4/2837
local.db/base/4/2838
local.db/base/4/2838_fsm
local.db/base/4/2838_vm
local.db/base/4/2839
local.db/base/4/2840
local.db/base/4/2840_fsm
local.db/base/4/2840_vm
local.db/base/4/2841
local.db/base/4/2995
local.db/base/4/2996
local.db/base/4/3079
local.db/base/4/3079_fsm
local.db/base/4/3079_vm
local.db/base/4/3080
local.db/base/4/3081
local.db/base/4/3085
local.db/base/4/3118
local.db/base/4/3119
local.db/base/4/3164
local.db/base/4/3256
local.db/base/4/3257
local.db/base/4/3258
local.db/base/4/3350
local.db/base/4/3351
local.db/base/4/3379
local.db/base/4/3380
local.db/base/4/3381
local.db/base/4/3394
local.db/base/4/3394_fsm
local.db/base/4/3394_vm
local.db/base/4/3395
local.db/base/4/3429
local.db/base/4/3430
local.db/base/4/3431
local.db/base/4/3433
local.db/base/4/3439
local.db/base/4/3440
local.db/base/4/3455
local.db/base/4/3456
local.db/base/4/3456_fsm
local.db/base/4/3456_vm
local.db/base/4/3466
local.db/base/4/3467
local.db/base/4/3468
local.db/base/4/3501
local.db/base/4/3502
local.db/base/4/3503
local.db/base/4/3534
local.db/base/4/3541
local.db/base/4/3541_fsm
local.db/base/4/3541_vm
local.db/base/4/3542
local.db/base/4/3574
local.db/base/4/3575
local.db/base/4/3576
local.db/base/4/3596
local.db/base/4/3597
local.db/base/4/3598
local.db/base/4/3599
local.db/base/4/3600
local.db/base/4/3600_fsm
local.db/base/4/3600_vm
local.db/base/4/3601
local.db/base/4/3601_fsm
local.db/base/4/3601_vm
local.db/base/4/3602
local.db/base/4/3602_fsm
local.db/base/4/3602_vm
local.db/base/4/3603
local.db/base/4/3603_fsm
local.db/base/4/3603_vm
local.db/base/4/3604
local.db/base/4/3605
local.db/base/4/3606
local.db/base/4/3607
local.db/base/4/3608
local.db/base/4/3609
local.db/base/4/3712
local.db/base/4/3764
local.db/base/4/3764_fsm
local.db/base/4/3764_vm
local.db/base/4/3766
local.db/base/4/3767
local.db/base/4/3997
local.db/base/4/4143
local.db/base/4/4144
local.db/base/4/4145
local.db/base/4/4146
local.db/base/4/4147
local.db/base/4/4148
local.db/base/4/4149
local.db/base/4/4150
local.db/base/4/4151
local.db/base/4/4152
local.db/base/4/4153
local.db/base/4/4154
local.db/base/4/4155
local.db/base/4/4156
local.db/base/4/4157
local.db/base/4/4158
local.db/base/4/4159
local.db/base/4/4160
local.db/base/4/4163
local.db/base/4/4164
local.db/base/4/4165
local.db/base/4/4166
local.db/base/4/4167
local.db/base/4/4168
local.db/base/4/4169
local.db/base/4/4170
local.db/base/4/4171
local.db/base/4/4172
local.db/base/4/4173
local.db/base/4/4174
local.db/base/4/5002
local.db/base/4/6102
local.db/base/4/6104
local.db/base/4/6106
local.db/base/4/6110
local.db/base/4/6111
local.db/base/4/6112
local.db/base/4/6113
local.db/base/4/6116
local.db/base/4/6117
local.db/base/4/6175
local.db/base/4/6176
local.db/base/4/6228
local.db/base/4/6229
local.db/base/4/6237
local.db/base/4/6238
local.db/base/4/6239
local.db/base/4/12596
local.db/base/4/12596_fsm
local.db/base/4/12596_vm
local.db/base/4/12599
local.db/base/4/12600
local.db/base/4/12601
local.db/base/4/12601_fsm
local.db/base/4/12601_vm
local.db/base/4/12604
local.db/base/4/12605
local.db/base/4/12606
local.db/base/4/12606_fsm
local.db/base/4/12606_vm
local.db/base/4/12609
local.db/base/4/12610
local.db/base/4/12611
local.db/base/4/12611_fsm
local.db/base/4/12611_vm
local.db/base/4/12614
local.db/base/4/12615
local.db/base/4/pg_filenode.map
local.db/base/4/PG_VERSION
local.db/base/5/112
local.db/base/5/113
local.db/base/5/174
local.db/base/5/175
local.db/base/5/548
local.db/base/5/549
local.db/base/5/826
local.db/base/5/827
local.db/base/5/828
local.db/base/5/1247
local.db/base/5/1247_fsm
local.db/base/5/1247_vm
local.db/base/5/1249
local.db/base/5/1249_fsm
local.db/base/5/1249_vm
local.db/base/5/1255
local.db/base/5/1255_fsm
local.db/base/5/1255_vm
local.db/base/5/1259
local.db/base/5/1259_fsm
local.db/base/5/1259_vm
local.db/base/5/1417
local.db/base/5/1418
local.db/base/5/2187
local.db/base/5/2224
local.db/base/5/2228
local.db/base/5/2328
local.db/base/5/2336
local.db/base/5/2337
local.db/base/5/2579
local.db/base/5/2600
local.db/base/5/2600_fsm
local.db/base/5/2600_vm
local.db/base/5/2601
local.db/base/5/2601_fsm
local.db/base/5/2601_vm
local.db/base/5/2602
local.db/base/5/2602_fsm
local.db/base/5/2602_vm
local.db/base/5/2603
local.db/base/5/2603_fsm
local.db/base/5/2603_vm
local.db/base/5/2604
local.db/base/5/2605
local.db/base/5/2605_fsm
local.db/base/5/2605_vm
local.db/base/5/2606
local.db/base/5/2606_fsm
local.db/base/5/2606_vm
local.db/base/5/2607
local.db/base/5/2607_fsm
local.db/base/5/2607_vm
local.db/base/5/2608
local.db/base/5/2608_fsm
local.db/base/5/2608_vm
local.db/base/5/2609
local.db/base/5/2609_fsm
local.db/base/5/2609_vm
local.db/base/5/2610
local.db/base/5/2610_fsm
local.db/base/5/2610_vm
local.db/base/5/2611
local.db/base/5/2612
local.db/base/5/2612_fsm
local.db/base/5/2612_vm
local.db/base/5/2613
local.db/base/5/2615
local.db/base/5/2615_fsm
local.db/base/5/2615_vm
local.db/base/5/2616
local.db/base/5/2616_fsm
local.db/base/5/2616_vm
local.db/base/5/2617
local.db/base/5/2617_fsm
local.db/base/5/2617_vm
local.db/base/5/2618
local.db/base/5/2618_fsm
local.db/base/5/2618_vm
local.db/base/5/2619
local.db/base/5/2619_fsm
local.db/base/5/2619_vm
local.db/base/5/2620
local.db/base/5/2650
local.db/base/5/2651
local.db/base/5/2652
local.db/base/5/2653
local.db/base/5/2654
local.db/base/5/2655
local.db/base/5/2656
local.db/base/5/2657
local.db/base/5/2658
local.db/base/5/2659
local.db/base/5/2660
local.db/base/5/2661
local.db/base/5/2662
local.db/base/5/2663
local.db/base/5/2664
local.db/base/5/2665
local.db/base/5/2666
local.db/base/5/2667
local.db/base/5/2668
local.db/base/5/2669
local.db/base/5/2670
local.db/base/5/2673
local.db/base/5/2674
local.db/base/5/2675
local.db/base/5/2678
local.db/base/5/2679
local.db/base/5/2680
local.db/base/5/2681
local.db/base/5/2682
local.db/base/5/2683
local.db/base/5/2684
local.db/base/5/2685
local.db/base/5/2686
local.db/base/5/2687
local.db/base/5/2688
local.db/base/5/2689
local.db/base/5/2690
local.db/base/5/2691
local.db/base/5/2692
local.db/base/5/2693
local.db/base/5/2696
local.db/base/5/2699
local.db/base/5/2701
local.db/base/5/2702
local.db/base/5/2703
local.db/base/5/2704
local.db/base/5/2753
local.db/base/5/2753_fsm
local.db/base/5/2753_vm
local.db/base/5/2754
local.db/base/5/2755
local.db/base/5/2756
local.db/base/5/2757
local.db/base/5/2830
local.db/base/5/2831
local.db/base/5/2832
local.db/base/5/2833
local.db/base/5/2834
local.db/base/5/2835
local.db/base/5/2836
local.db/base/5/2836_fsm
local.db/base/5/2836_vm
local.db/base/5/2837
local.db/base/5/2838
local.db/base/5/2838_fsm
local.db/base/5/2838_vm
local.db/base/5/2839
local.db/base/5/2840
local.db/base/5/2840_fsm
local.db/base/5/2840_vm
local.db/base/5/2841
local.db/base/5/2995
local.db/base/5/2996
local.db/base/5/3079
local.db/base/5/3079_fsm
local.db/base/5/3079_vm
local.db/base/5/3080
local.db/base/5/3081
local.db/base/5/3085
local.db/base/5/3118
local.db/base/5/3119
local.db/base/5/3164
local.db/base/5/3256
local.db/base/5/3257
local.db/base/5/3258
local.db/base/5/3350
local.db/base/5/3351
local.db/base/5/3379
local.db/base/5/3380
local.db/base/5/3381
local.db/base/5/3394
local.db/base/5/3394_fsm
local.db/base/5/3394_vm
local.db/base/5/3395
local.db/base/5/3429
local.db/base/5/3430
local.db/base/5/3431
local.db/base/5/3433
local.db/base/5/3439
local.db/base/5/3440
local.db/base/5/3455
local.db/base/5/3456
local.db/base/5/3456_fsm
local.db/base/5/3456_vm
local.db/base/5/3466
local.db/base/5/3467
local.db/base/5/3468
local.db/base/5/3501
local.db/base/5/3502
local.db/base/5/3503
local.db/base/5/3534
local.db/base/5/3541
local.db/base/5/3541_fsm
local.db/base/5/3541_vm
local.db/base/5/3542
local.db/base/5/3574
local.db/base/5/3575
local.db/base/5/3576
local.db/base/5/3596
local.db/base/5/3597
local.db/base/5/3598
local.db/base/5/3599
local.db/base/5/3600
local.db/base/5/3600_fsm
local.db/base/5/3600_vm
local.db/base/5/3601
local.db/base/5/3601_fsm
local.db/base/5/3601_vm
local.db/base/5/3602
local.db/base/5/3602_fsm
local.db/base/5/3602_vm
local.db/base/5/3603
local.db/base/5/3603_fsm
local.db/base/5/3603_vm
local.db/base/5/3604
local.db/base/5/3605
local.db/base/5/3606
local.db/base/5/3607
local.db/base/5/3608
local.db/base/5/3609
local.db/base/5/3712
local.db/base/5/3764
local.db/base/5/3764_fsm
local.db/base/5/3764_vm
local.db/base/5/3766
local.db/base/5/3767
local.db/base/5/3997
local.db/base/5/4143
local.db/base/5/4144
local.db/base/5/4145
local.db/base/5/4146
local.db/base/5/4147
local.db/base/5/4148
local.db/base/5/4149
local.db/base/5/4150
local.db/base/5/4151
local.db/base/5/4152
local.db/base/5/4153
local.db/base/5/4154
local.db/base/5/4155
local.db/base/5/4156
local.db/base/5/4157
local.db/base/5/4158
local.db/base/5/4159
local.db/base/5/4160
local.db/base/5/4163
local.db/base/5/4164
local.db/base/5/4165
local.db/base/5/4166
local.db/base/5/4167
local.db/base/5/4168
local.db/base/5/4169
local.db/base/5/4170
local.db/base/5/4171
local.db/base/5/4172
local.db/base/5/4173
local.db/base/5/4174
local.db/base/5/5002
local.db/base/5/6102
local.db/base/5/6104
local.db/base/5/6106
local.db/base/5/6110
local.db/base/5/6111
local.db/base/5/6112
local.db/base/5/6113
local.db/base/5/6116
local.db/base/5/6117
local.db/base/5/6175
local.db/base/5/6176
local.db/base/5/6228
local.db/base/5/6229
local.db/base/5/6237
local.db/base/5/6238
local.db/base/5/6239
local.db/base/5/12596
local.db/base/5/12596_fsm
local.db/base/5/12596_vm
local.db/base/5/12599
local.db/base/5/12600
local.db/base/5/12601
local.db/base/5/12601_fsm
local.db/base/5/12601_vm
local.db/base/5/12604
local.db/base/5/12605
local.db/base/5/12606
local.db/base/5/12606_fsm
local.db/base/5/12606_vm
local.db/base/5/12609
local.db/base/5/12610
local.db/base/5/12611
local.db/base/5/12611_fsm
local.db/base/5/12611_vm
local.db/base/5/12614
local.db/base/5/12615
local.db/base/5/pg_filenode.map
local.db/base/5/PG_VERSION
local.db/global/1213
local.db/global/1213_fsm
local.db/global/1213_vm
local.db/global/1214
local.db/global/1232
local.db/global/1233
local.db/global/1260
local.db/global/1260_fsm
local.db/global/1260_vm
local.db/global/1261
local.db/global/1261_fsm
local.db/global/1261_vm
local.db/global/1262
local.db/global/1262_fsm
local.db/global/1262_vm
local.db/global/2396
local.db/global/2396_fsm
local.db/global/2396_vm
local.db/global/2397
local.db/global/2671
local.db/global/2672
local.db/global/2676
local.db/global/2677
local.db/global/2694
local.db/global/2695
local.db/global/2697
local.db/global/2698
local.db/global/2846
local.db/global/2847
local.db/global/2964
local.db/global/2965
local.db/global/2966
local.db/global/2967
local.db/global/3592
local.db/global/3593
local.db/global/4060
local.db/global/4061
local.db/global/4175
local.db/global/4176
local.db/global/4177
local.db/global/4178
local.db/global/4181
local.db/global/4182
local.db/global/4183
local.db/global/4184
local.db/global/4185
local.db/global/4186
local.db/global/6000
local.db/global/6001
local.db/global/6002
local.db/global/6100
local.db/global/6114
local.db/global/6115
local.db/global/6243
local.db/global/6244
local.db/global/6245
local.db/global/6246
local.db/global/6247
local.db/global/6302
local.db/global/6303
local.db/global/pg_control
local.db/global/pg_filenode.map
local.db/global/pg_internal.init
local.db/pg_logical/replorigin_checkpoint
local.db/pg_multixact/members/0000
local.db/pg_multixact/offsets/0000
local.db/pg_subtrans/0000
local.db/pg_wal/000000010000000000000005
local.db/pg_wal/000000010000000000000006
local.db/pg_wal/000000010000000000000007
local.db/pg_wal/000000010000000000000008
local.db/pg_wal/000000010000000000000009
local.db/pg_xact/0000
