# Node dependencies
node_modules/

# Next.js build output
.next/
out/
dist/
dist-ssr/
web-build/

# Expo
.expo/
expo-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor settings
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.py

# Testing outputs
/cypress/videos/
/cypress/screenshots/

# Environment variables
.env
.env*.local
*.local
*.pem

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript
*.tsbuildinfo

# Debug & Metro
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Misc
components.d.ts
app-example

# Native build or keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Local DB files (specific to your setup)
local.db/

